#addButton{
    border-radius: 5px;
    background-color: lightblue;
}

#searchButton{
    border-radius: 5px;
    background-color: lightblue;
}

#mainButton{
    border-radius: 5px;
    background-color: lightblue;
}
